#table, th {
    border: 1px solid green;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}
#table, td{
    background-color: gray;
    text-align: center;
}
table {
    border: 1px solid black;
}

